.Head {
    background-color: green;
    text-align: right;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    position: sticky;
}

.row {
    justify-content: center;
}

.card{
    background-color: aqua;
}
.konten {
    text-align: center;
    font-size: 15px;
}

.foto {
    align-items: center;
}

.card {
    width: 40vh;
    height: 30vh;
    border-color: white;
}


